@import '../../../styles/colors';
@import '../../../styles/breakpoints';

:host {
    align-items: center;
    display: flex;
    user-select: none;
    width: 100%;

    #bar {
        align-items: center;
        background: $bg-control-bar;
        display: flex;
        height: 4px;
        width: 100%;

        .inner {
            background: $bg-control-bar-inner;
            height: 100%;
            max-width: 100%;
            position: relative;

            .knob {
                --size: var(--knob-size, 14px);
                background: $bg-control-bar-knob;
                border-radius: 50%;
                height: var(--size);
                position: absolute;
                right: -6px;
                top: calc(50% - (var(--size) / 2));
                transition: .5s;
                width: var(--size);

                @media screen and (min-width: $xl-min) {
                    --size: var(--knob-size, 12px);
                }
            }
        }
    }
}

::slotted(.buffer) {
    display: block;
    height: 4px;
    background: $bg-control-bar-buffer;
}
