@import './colors';
@import './breakpoints';

:host(.interacting),
:host(.settings-open),
:host(:not(.hide-controls)) {
    #controls-wrapper {
        bottom: 0;
    }
}

#controls-wrapper {
    align-content: center;
    background: $bg-controls-wrapper;
    box-sizing: border-box;
    bottom: -41px;
    display: flex;
    height: 36px;
    justify-content: space-between;
    left: 0;
    padding: 12px 0 8px;
    position: absolute;
    transition: .3s;
    width: 100%;
    z-index: 3;

    @media screen and (min-width: $lg-min) {
        bottom: -47px;
        height: 42px;
        padding: 14px 0 10px;
    }

    @media screen and (min-width: $xl-min) {
        bottom: -52px;
        height: 48px;
        padding: 16px 0 12px;
    }

    #seek-bar {
        cursor: pointer;
        height: 30px;
        left: 0;
        margin: 0 10px;
        position: absolute;
        top: -13px;
        width: calc(100% - 20px);

        @media screen and (min-width: $lg-min) {
            height: 26px;
            top: -11px;
        }

        @media screen and (min-width: $xl-min) {
            height: 20px;
            top: -8px;
        }
    }

    .left,
    .right {
        display: flex;
        align-content: center;
    }

    .left {
        #play-btn {
            margin: 0 10px;

            @media screen and (min-width: $sm-min) {
                margin: 0 16px;
            }

            @media screen and (min-width: $lg-min) {
                margin: 0 18px;
            }

            @media screen and (min-width: $xl-min) {
                margin: 0 20px;
            }

            i {
                @include play-icon($fill-play-btn);
                cursor: pointer;
                display: block;
                height: 16px;
                width: 16px;

                @media screen and (min-width: $lg-min) {
                    height: 18px;
                    width: 18px;
                }

                @media screen and (min-width: $xl-min) {
                    height: 20px;
                    width: 20px;
                }

                &.pause {
                    @include pause-icon($fill-pause-btn);
                }
            }
        }

        #volume-wrapper {
            display: flex;
            align-items: center;
            padding-right: 20px;

            &.open,
            &:hover {
                #volume-bar {
                    @media screen and (min-width: $xl-min) {
                        --knob-size: 12px;
                        margin-left: 20px;
                        width: 100px;
                    }
                }
            }

            #mute-btn {
                @include volume-up-icon($fill-mute-btn);
                cursor: pointer;
                display: block;
                height: 16px;
                width: 16px;

                @media screen and (min-width: $lg-min) {
                    height: 18px;
                    width: 18px;
                }

                @media screen and (min-width: $xl-min) {
                    height: 20px;
                    width: 20px;
                }

                &.muted {
                    @include muted-icon($fill-mute-btn);
                }
            }

            #volume-bar {
                --knob-size: 12px;
                cursor: pointer;
                height: 20px;
                margin-left: 10px;
                transition: .5s;
                width: 40px;

                @media screen and (min-width: $sm-min) {
                    margin-left: 15px;
                    width: 60px;
                }

                @media screen and (min-width: $md-min) {
                    --knob-size: 12px;
                    margin-left: 20px;
                    width: 80px;
                }

                @media screen and (min-width: $xl-min) {
                    --knob-size: 0px;
                    width: 0;
                }
            }
        }

        #timer {
            color: #FFF;
            font-size: 14px;
            line-height: 16px;

            @media screen and (min-width: $lg-min) {
                line-height: 18px;
            }

            @media screen and (min-width: $xl-min) {
                line-height: 20px;
            }
        }
    }

    .right {
        #snapshot-btn {
            i {
                @include camera-icon($fill-settings-btn);
                cursor: pointer;
                display: block;
                height: 16px;
                width: 16px;

                @media screen and (min-width: $lg-min) {
                    height: 18px;
                    width: 18px;
                }

                @media screen and (min-width: $xl-min) {
                    height: 20px;
                    width: 20px;
                }
            }
        }

        #settings-btn {
            margin-left: 10px;

            @media screen and (min-width: $sm-min) {
                margin-left: 16px;
            }

            @media screen and (min-width: $lg-min) {
                margin-left: 18px;
            }

            @media screen and (min-width: $xl-min) {
                margin-left: 20px;
            }

            &.open {
                i {
                    transform: rotate(-60deg);
                }
            }

            &.quality-changing {
                i {
                    animation: rotation 1s ease-in-out 0s infinite alternate-reverse;
                }
            }

            i {
                @include settings-icon($fill-settings-btn);
                cursor: pointer;
                display: block;
                height: 16px;
                width: 16px;
                transition: .2s;

                @media screen and (min-width: $lg-min) {
                    height: 18px;
                    width: 18px;
                }

                @media screen and (min-width: $xl-min) {
                    height: 20px;
                    width: 20px;
                }
            }
        }

        #fullscreen-btn {
            margin: 0 10px;

            @media screen and (min-width: $sm-min) {
                margin: 0 16px;
            }

            @media screen and (min-width: $lg-min) {
                margin: 0 18px;
            }

            @media screen and (min-width: $xl-min) {
                margin: 0 20px;
            }

            &.compress {
                i {
                    @include compress-icon($fill-fullscreen-btn);
                }
            }

            i {
                @include expand-icon($fill-fullscreen-btn);
                cursor: pointer;
                display: block;
                height: 16px;
                width: 16px;

                @media screen and (min-width: $lg-min) {
                    height: 18px;
                    width: 18px;
                }

                @media screen and (min-width: $xl-min) {
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}
