@import './icons';
@import './subtitles';
@import './settings';
@import './controls';

:host {
    overflow: hidden;
}

:host(.interacting),
:host(.settings-open),
:host(:not(.hide-controls)) {
    #video-wrapper {
        #overlay {
            height: calc(100% - 48px);
        }
    }
}

#video-wrapper {
    height: 100%;
    position: relative;
    width: 100%;

    video {
        display: block;
        height: 100%;
        width: 100%;
    }

    #overlay {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        transition: .3s;

        ::slotted(.top) {
            grid-row: 1 / 2;
        }

        ::slotted(.middle) {
            grid-row: 2 / 3;
        }

        ::slotted(.bottom) {
            grid-row: 3 / 4;
        }

        ::slotted(.left) {
            grid-column: 1 / 2;
        }

        ::slotted(.center) {
            grid-column: 2 / 3;
        }

        ::slotted(.right) {
            grid-column: 3 / 4;
        }
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(239deg);
    }
}
